*{ 
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
} 


header{ 
    width: 100%;
    background: red;
    height: 150px;
}

#wrapper{ 
    width: 940px;
    height: 600px;
    background: green; 
    margin: 0 auto;
}